<h2>Widgets</h2>

<table id="widget-table">
	<thead>
		<tr>
			<th class="left">Name</th>
			<th></th>
		</tr>
	</thead>
	<tbody id="the-list" class="list:header">
		<% widgets.each do |widget| -%>
		<tr>
			<td><%= widget.module %></td>
			<td><a href="<%= url(:edit_webbastic_widget, widget.id) %>">edit</a></td>
		</tr>
		<%- end %>
	</tbody>
</table>

<% if page -%>
<form action="<%= url(:webbastic_page_widgets, page.id) %>" method="post" accept-charset="utf-8">
	<select name="widget">
		<% Webbastic::Helpers::Widgets.constants.each do |widget_name| -%>
		<option value='<%= widget_name %>'><%= widget_name %></option>
		<%- end %>
	</select>	

	<p><input type="submit" value="Add Widget &rarr;"></p>
</form>
<%- end %>