<h2>Pages</h2>

<% unless @pages.empty? -%>
<table border="0" cellspacing="5" cellpadding="5">
	<tr><th>Name</th><th>Actions</th></tr>
	
	<% @pages.each do |page| %>
	<tr>
		<td><%= page.name %></td>
		<td>
			<a href="<%= url(:webbastic_site_page, page.site.id, page.id) %>">View</a> -  
			<a href="<%= url(:webbastic_static_page_edit, page.site.id, page.id) %>">Edit</a> -
			<a href="<%= url(:delete_webbastic_site_page, page.site.id, page.id) %>">Delete</a>
		</td>
	</tr>
	<% end %>
</table>
<%- end %>

<div id="file_tree"></div>

<%= form :action => url(:webbastic_site_pages) do %>
	<input class="clear" type="text" name="page[name]" value="Type Page Name"/>
	<input type="hidden" name="page[site_id]" value="<%= params[:site_id] %>"/>
	<%= submit "Create New Page" %>
<% end =%>