<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Fresh Webbastic Slice</title>
    <link href="<%= webbastic_stylesheet_path 'master.css' %>" type="text/css" charset="utf-8" rel="stylesheet" media="all" />

	<script src="<%= webbastic_javascript_path 'jquery/jquery.js' %>" type="text/javascript" charset="utf-8"></script>
    <script src="<%= webbastic_javascript_path 'jquery/jquery.ui.js' %>" type="text/javascript" charset="utf-8"></script>
    <script src="<%= webbastic_javascript_path 'jquery/jquery.livequery.js' %>" type="text/javascript" charset="utf-8"></script>
 	<script src="<%= webbastic_javascript_path 'wymeditor/jquery.wymeditor.js' %>" type="text/javascript" charset="utf-8"></script>

	<% if Merb.const_defined? :MediaRocket -%>
    <script src="<%= webbastic_javascript_path 'master.js' %>" type="text/javascript" charset="utf-8"></script>
	<%- end %>

    <script src="<%= webbastic_javascript_path 'master.js' %>" type="text/javascript" charset="utf-8"></script>
  </head>
  <!-- you can override this layout at slices/webbastic/app/views/layout/webbastic.html.erb -->
  <body class="webbastic-slice">
  <div id="container">
	
	<%= admin_menu %>
	
    <div id="main"><%= catch_content :for_layout %></div>
  </div>
  </body>
</html>