<tr id="header-<%= header.id %>" class="<%= row_class %>">
	<td class="left">
		<label for="header[<%= header.id %>][name]" class="hidden">Key</label>
		<input type="text" value="<%= header.name %>" size="20" tabindex="6" id="header[<%= header.id %>][name]" name="meta[3][key]"/>
		<div class="submit">
			<input type="submit" value="Delete" tabindex="6" class="deleteheader" name="deleteheader[<%= header.id %>]"/>
		</div>
		<% case type
			when :layout %>
			<input type="hidden" value="<%= header.layout.id %>" name="header[layout_id]" id="header[<%= header.layout.id %>]"/>
		<%	when :page %>
			<input type="hidden" value="<%= header.page.id %>" name="header[page_id]" id="header[<%= header.page.id %>]"/>
		<% end %>
	</td>
	
	<td>
		<label for="header[<%= header.id %>][content]" class="hidden">Value</label>
		<textarea cols="30" rows="2" tabindex="6" id="header[<%= header.id %>][content]" name="header[<%= header.id %>][content]">
		<%= header.content %>
		</textarea>
	</td>
</tr>