<tr id="header-<%= header.id %>" class="<%= row_class %>">
	<td class="label"><%= header.name %></td>
	<td>
		<span class="editable" id="edit_header_<%= header.id %>" style="display: inline"><%= header.content %></span>
		<script type="text/javascript" charset="utf-8">
			$(document).ready(function() {
				$('#edit_header_<%= header.id %>').editable("<%= url(:webbastic_header, header.id) %>", {
					type     	: 'text',
					method		: 'PUT',
					name		: 'header[content]',
					submitdata 	: {id: "<%= header.id %>"}
				});
			});
		</script>
	</td>
</tr>