<form action="<%= url(:webbastic_site, @site) %>" method="post" accept-charset="utf-8">
	
	<label for="content_dir">Content Directory</label><input type="text" name="site[content_dir]" value="<%= @site.content_dir %>" id="content_dir"><br>
	<label for="layout_dir">Layout Directory</label><input type="text" name="site[layout_dir]" value="<%= @site.layout_dir %>" id="layout_dir"><br>
	<label for="template_dir">Template Directory</label><input type="text" name="site[template_dir]" value="<%= @site.template_dir %>" id="template_dir"><br>
	<label for="output_dir">Output Directory</label><input type="text" name="site[output_dir]" value="<%= @site.output_dir %>" id="output_dir"><br>
	<label for="default_layout">Default Layout</label><input type="text" name="site[default_layout]" value="<%= @site.default_layout %>" id="default_layout">
	
	<input type="hidden" name="_method" value="put"/>
	<p><input type="submit" value="Update Configuration"></p>
</form>